# Node & Vite
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
__pycache__/
*.pyc
*.pyo

# Окружение
.env
venv/
.venv/

# База данных
*.db
*.db-wal
*.db-shm

# Системные
.DS_Store
Thumbs.db

# Старые файлы
script.js
script_p.js
index_p.html
